*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #ffff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/actual-background.png);
    background-size: cover;
    background-position: right;
}
.container{
    color:#ffffff;
    padding: 10px 10%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #ffffff;
    text-decoration:none;
    font-size: 18px;
    position: relative;

}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position:absolute;
    left:0;
    bottom: -6px;
}

nav ul li a:hover::after{
    width: 100%;
    transition: .5s;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;

}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}

.down-arrow {
  position: absolute;
  top: calc(100vh - 80px);
  left: calc(50% - 14px);
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

/* About */

#about{
    padding: 10vh 0px 10vh 0px;
    color:#ababab;
    position:relative;
}
.about-row-1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}
.about-col-1{
    flex-basis: 35%;

}
.about-col-1 img{
    width: 100%;
    border-radius: 20px;
}
.about-col-2{
    flex-basis: 60%;

}
.about-sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;
}

/* Skills */
#skills{
    padding: 0px 0px 10vh 0px;
    color:#ababab;
}
.skills-sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;
}

.skills-row-1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.skills-row-1 img{
    width:15vw;
}

.skills-row-1:hover::after{
    width: 20vw;
    transition: .5s;
}

/* Projects */
.projects-sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}

.work{
    border-radius: 10px;
    position: relative;
    overflow:hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform .5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position:absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: .5s;
}

.layer h3{
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 20px;
}

.layer a{
    text-decoration: none;
    color: #ffffff;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}